<template lang="pug">
  v-dialog(v-model='showDetails' width='500')
    template(v-slot:activator='{ on, attrs }')
      v-btn(color='primary' dark v-bind='attrs' v-on='on')
        | Ingrédients
    v-card
      v-card-title.text-h5
        | {{ recipe.name }}
      v-card-text
        v-row
          v-col
            v-chip.ma-2(v-for="(tag, index) in recipe.tags" :key="index" color="primary" label) {{ tag }}
        v-row
          v-col
            | {{ recipe.ingredients.join(', ')}}

</template>

<script>

export default {

  name: 'RecipeDetails',

  data() {
    return {
      showDetails: false
    }
  },

  props: {
    recipe: {
      type: Object,
      default: () => {}
    }
  },
}
</script>
