<template lang="pug">
  v-container(transition="fade-transition")
    h3.my-5.text-center Voici quelques recettes
    v-row
      v-col.recipe(cols='12' md='3' v-for="(recipe, index) in recipes" :key="index")
        img(contain :src="imgUrl(recipe)" min-width="100%")
        h6 {{ recipe.name }}
        p(color="grey darken-3") {{ recipe.difficulty }}
        p(color="grey darken-3") {{ recipe.cook_time }}

        RecipeDetails(:recipe="recipe")

</template>

<script>
import { mapGetters } from 'vuex';
import RecipeDetails from '~/components/RecipeDetails'

export default {
  components: { RecipeDetails },

  name: 'RecipesList',

  computed: {
    ...mapGetters({
      recipes: 'recipes/recipes'
    })
  },

  methods: {
    imgUrl(recipe) {
      return recipe.image || "https://fakeimg.pl/195x160/"
    }
  },
}
</script>

<style lang="scss">
img {
  width: 100%;
}
</style>
