<template lang="pug">
  v-container.main-page
    v-row.mt-16
      v-col(cols='12')
        h1.text-center Faim ? Qu'est-ce qu'il y a dans ton frigo ?

      v-col(cols='12')
        v-text-field(
          v-model="selectedIngredient"
          placeholder="Tapez n'importe quel ingrédient..."
          append-icon="mdi-food"
          @keyup.enter="addIngredients"
        )
        v-btn(color="primary" @click="addIngredients") +

      v-col(cols='12' v-if="fridgeIngredients.length")
        | Jusqu'à présent, vous avez :
        v-row
          v-col(cols='3' v-for="(ingredient, index) in fridgeIngredients" :key="index")
            v-checkbox(
              :input-value="ingredient"
              color="primary"
              :label="ingredient"
              @change="removeIngredient(ingredient)"
            )
        v-row
          v-col
            v-btn(depressed color="red" dark @click.stop="handleGetRecipes" :disabled='loading') Rechercher maintenant!

    RecipesList(v-if="hasRecipes")
    h3.mt-5.text-center(v-if="showNoRecipesMessage") Désolé, nous n'avons trouvé aucune recette..

</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import RecipesList from '~/components/RecipesList'

export default {
  name: 'Homepage',
  components: { RecipesList },

  data() {
    return {
      selectedIngredient: '',
      fridgeIngredients: [],
      loading: false,
      searched: false
    }
  },

  async fetch() {
    await this.getRecipes()
  },

  computed: {
    ...mapGetters({
      recipes: 'recipes/recipes'
    }),

    hasRecipes() {
      return this.recipes.length
    },

    computedIngredients() {
      return this.selectedIngredient.replace( /,/g, "" ).split(' ')
    },

    showNoRecipesMessage() {
      return this.searched && !this.recipes.length
    }
  },

  methods: {
    ...mapActions({
      getRecipes: 'recipes/getRecipes',
    }),

    handleGetRecipes() {
      this.loading = true;
      this.searched = true

      this.getRecipes({ filter: this.fridgeIngredients }).then(() => {
        this.loading = false
      })
    },

    addIngredients() {
      this.computedIngredients.forEach(ingredient => {
        if(!this.fridgeIngredients.includes(ingredient) && ingredient){
          this.fridgeIngredients.push(ingredient)
        }
      });

      this.selectedIngredient = ''
    },

    removeIngredient(ingredient) {
      this.fridgeIngredients = this.fridgeIngredients.filter(fridgeIngredient => fridgeIngredient != ingredient)

      if(!this.fridgeIngredients.length) {
        this.getRecipes();
        this.searched = false
      }
    }
  },
};

</script>

<style lang="scss">
.main-page {
  min-height: 100vh;
}
</style>
